body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #464848, #120a1a);
}

.centre-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5vh;
}

.title {
  color: #f3f3f3;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(50px, 20vw, 100px);
  margin: 0;
}

.main-menu {
  background-color: #bcbcbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  gap: 0px;
}

button {
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid #464848;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  color: #000000;
}

#start-btn {
  width: 100%;
  padding: 10px;
  font-size: 22px;
}

#join-btn {
  width: 40%;
  padding: 10px;
  font-size: 22px;
}


button:hover {
  background-color: #807f7f;
}

button:active {
  transform: translateY(2px);
}

.text_separator {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.join-game-text {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 12px;
  display: none;
  
}

.join-container {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

input {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
  border: 2px solid #464848;
  text-decoration: none;
  display: block;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 18px;
  width: 100%;
}



.carousel {
  margin: 0;
  width: 100vw;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  z-index: -1;
  > * {
    flex: 0 0 100%;
  }
}

.card {
  opacity: 0.6;
  z-index: -1;
}

.card:nth-child(odd) {
  transform: rotate(-1deg);
}

.card:nth-child(even) {
  transform: rotate(1deg);
}

.card-group {
  display: flex;
  gap: 12px;
  padding-right: 12px;
  will-change: transform;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#top_group {
  animation-direction: reverse;
}
